body {
  font-size: 20px;
}

.App {
  text-align: center;
  background-color: darkcyan;
  padding-top: 100px;
}

.blue {
  margin: 0;
  color: blue;
  font-size: 1.25rem;
}

.red {
  margin: 0;
  color: red;
  font-size: 1.25rem;
}
